* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  position: relative;
}

.container {
  width: 25vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
  text-align: center;
}

img {
  width: 5vw;
  height: 10vh;
  border-radius: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#name {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  margin: 12px 0;
}

#address {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}

#introduce {
  margin: 20px 0;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.btnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 20vw;
  height: 7vh;
  line-height: 7vh;
  font-size: 12px;
  font-weight: 800;
  border-radius: 10px;
  margin: 5px 0;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
}
