* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
}

.container {
  width: 45%;
  height: 60%;
  display: flex;
}

img {
  flex: 1;
}

.intro {
  flex: 1;
  padding: 20px;
  background-color: white;
}

#category {
  color: hsl(228, 12%, 48%);
  margin-bottom: 10px;
}

.intro h1 {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#text {
  margin: 10px 0;
  color: hsl(228, 12%, 48%);
}

.priceBox {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#afterPrice {
  margin: 20px 0;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

#beforePrice {
  text-decoration: line-through;
}

button {
  width: 80%;
  height: 12%;
  margin: 0 10%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#cart {
  margin: 0 10px;
}
