* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  padding: 30px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}

.nameContainer {
  margin: 10px 0;
  display: flex;
}

.nameBox {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.nameBox:nth-child(1) {
  margin-right: 10px;
}

input {
  margin: 5px 0;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border-color: greenyellow;
}

label {
  color: hsl(187, 24%, 22%);
}

.nameInput {
  width: 100%;
}

.emailBox {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.typeContainer {
  display: flex;
  flex-direction: column;
}

.typeContainer2 {
  display: flex;
}

.typeBox {
  margin: 10px 0;
  width: 50%;
  height: 35px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.typeBox:nth-child(1) {
  margin-right: 10px;
}

.type {
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.typeLabel {
  cursor: pointer;
}

.messageBox {
  display: flex;
  flex-direction: column;
}

#textarea {
  height: 60px;
}

.checkBox {
  display: flex;
  flex-direction: column;
}

.checkContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

#check {
  cursor: pointer;
}

#submit {
  width: 100%;
  height: 35px;
  background-color: hsl(169, 82%, 27%);
  color: white;
  cursor: pointer;
}

#submit:active {
  background-color: hsl(187, 24%, 22%);
}

.name-error-message,
#email-error-message {
  font-size: 12px;
  color: red;
  display: none;
}

#type-error-message,
#message-error-message,
#check-error-message {
  font-size: 12px;
  color: red;
  display: none;
}

.successfulSubmit {
  width: 500px;
  height: 80px;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -50%);
}

.successfulSubmit p {
  font-size: 12px;
}

.sentBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
  }

  .nameBox {
    width: 100%;
  }

  .typeContainer2 {
    display: flex;
    flex-direction: column;
  }

  .typeBox {
    width: 100%;
  }

  .successfulSubmit {
    width: 200px;
    height: 50px;
  }
}
